---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
  <section class="w-fit mx-auto p-5 bg-gray-200 text-red-600 rounded-2xl">
    <p>Taiwind Container CSS</p>
  </section>

  <div hx-post="/mouse_entered" hx-trigger="mouseenter"
    class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded-full"
  >
    [Here Mouse, Mouse!]
  </div>
</Layout>
