---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- add favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"/>
		<!-- @meta -->
		<title>{title}</title>
		<meta name="keywords" content="your, keywords, here" />
    <meta name="author" content="Your Name" />
		<meta name="description" content="A description of your page" />
	</head>
	<body class="flex flex-col h-screen bg-gray-900 text-gray-50">
		<header class="flex bg-blue-400">
			<h1>{title}</h1>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
			</nav>
		</header>

		<section class="flex flex-1 flex-col">
			<slot />
		</section>

		<footer class="flex flex-co bg-blue-400">
			<p>
				<a href="https://astro.build">Astro</a> is a project of{' '}
				<a href="https://snowpack.dev">Snowpack</a>
			</p>
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
	}
</style>
